<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/table.css">
    <link rel="icon" href="../src/imges/长.png" style="width: 30px;" >
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title><%= title %></title>
</head>
</head>
<body>
    
    <div id="tablebookingcontainer">
        <div id="left">
            <div id="topl">
                <div id="onel">
                    <h3>Guests</h3>
                    <div id="dibb">
                        <i class="ri-add-line"></i>
                        <h3>4</h3>
                        <i class="ri-subtract-line"></i>
                    </div>
                </div>
                <div id="twol">
                    <div id="upp">
                        <h3>Date</h3>
                        <div id="dibbb">
                            <h3>Jan</h3>
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                    </div>
                    <div id="doin">
                        <div class="dates">
                            <h3>Sat</h3>
                            <h4><span></span>1</h4>
                        </div>
                        <div class="dates">
                            <h3>Sun</h3>
                            <h4><span></span> 2</h4>
                        </div>
                        <div class="dates">
                            <h3>Mon</h3>
                            <h4><span></span> 3</h4>
                        </div>
                        <div class="dates">
                            <h3>Tue</h3>
                            <h4><span></span> 4</h4>
                        </div>
                        <div class="dates">
                            <h3>Wed</h3>
                            <h4><span></span> 5</h4>
                        </div>
                    </div>
                </div>
                <div id="threel">
                    <h3>Timings</h3>
                    <div id="dodiv">
                        <div class="rowww">
                            <div class="col"><h4>11:30</h4></div>
                            <div class="col"><h4>12:00</h4></div>
                            <div class="col"><h4>12:30</h4></div>
                        </div>
                        <div class="rowww">
                            <div class="col"><h4>1:00</h4></div>
                            <div class="col"><h4>1:30</h4></div>
                            <div class="col"><h4>4:00</h4></div>
                        </div>
                        <div class="rowww">
                            <div class="col"><h4>4:30</h4></div>
                            <div class="col"><h4>5:00</h4></div>
                            <div class="col"><h4>5:30</h4></div>
                        </div>
                        <div class="rowww">
                            <div class="col"><h4>6:00</h4></div>
                            <div class="col"><h4>6:30</h4></div>
                            <div class="col"><h4>7:00</h4></div>
                        </div></div>
                </div>
            </div>
            <div id="botr">
                <div id="cancel">
                    <h3>CANCEL</h3>
                    <div class="dot"></div>
                </div>
                <div id="book">
                    <h3>BOOK</h3>
                    <div class="dot"></div>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="nav">
                <i class="ri-menu-2-line"></i>
                <h4>Hello, <span>there</span></h4>
                <!-- <div id="imgdiv">
                    img src="./Screenshot 2023-02-21 at 10.53.26 AM.png" alt="">
                </div> -->
            </div>
            <div id="text">
                <h2>Let's Book Your Next<span> Table.</span></h2>
            </div>
            <div id="search">
                <i class="ri-search-2-line"></i><h4> search</h4>
            </div>
            <div id="rooms">
                <div class="row">
                    <div id="imgdivv">
                        <img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/21/89/11/15/hotel-facade.jpg" alt="">
                    </div>
                    <div id="botum">
                        <div id="up">
                            <h5>TREVI</h5>
                            <h6>4.3 <i class="ri-star-s-line"></i></h6>
                        </div>
                        <div id="doo">
                            <h6><i class="ri-map-pin-2-line"></i>Ahemdabad, Gujrat</h6>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div id="imgdivv">
                        <img src="https://www.tajhotels.com/content/dam/luxury/hotels/Taj_Lands_End_Mumbai/images/4x3/R&S_WOGLI_Exterior-Master.jpg" alt="">
                    </div>
                    <div id="botum">
                        <div id="up">
                            <h5>Hotel TAJ</h5>
                            <h6>5.0 <i class="ri-star-s-line"></i></h6>
                        </div>
                        <div id="doo">
                            <h6><i class="ri-map-pin-2-line"></i>Bhopal, M.P</h6>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div id="imgdivv">
                        <img src="https://www.kayak.com/rimg/himg/23/19/bc/leonardo-1194409-amdcy-restaurant-0053-hor-clsc_O-535326.jpg?width=1366&height=768&crop=true" alt="">
                    </div>
                    <div id="botum">
                        <div id="up">
                            <h5>Courtyard Marriott</h5>
                            <h6>4.8 <i class="ri-star-s-line"></i></h6>
                        </div>
                        <div id="doo">
                            <h6><i class="ri-map-pin-2-line"></i>Bandra, Mumbai</h6>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div id="imgdivv">
                        <img src="https://media.radissonhotels.net/image/radisson-blu-hotel-sakarya/exterior/16256-124866-f68880280_3xl.jpg?impolicy=CustomCrop&cwidth=670&cheight=603" alt="">
                    </div>
                    <div id="botum">
                        <div id="up">
                            <h5>Radisson blu</h5>
                            <h6>4.5 <i class="ri-star-s-line"></i></h6>
                        </div>
                        <div id="doo">
                            <h6><i class="ri-map-pin-2-line"></i>Noida, New Delhi</h6>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div id="imgdivv">
                        <img src="https://www.edifice.co.in/Images/Project/Proj_132324636373680320.jpg" alt="">
                    </div>
                    <div id="botum">
                        <div id="up">
                            <h5>Hotel Sayaji</h5>
                            <h6>4.6 <i class="ri-star-s-line"></i></h6>
                        </div>
                        <div id="doo">
                            <h6><i class="ri-map-pin-2-line"></i>Idgah Hills, Bhopal</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div id="text2">
                <h3>Explore Cuisines</h3>
            </div>
            <div id="types">
                <div class="types"><img src="https://e7.pngegg.com/pngimages/938/934/png-clipart-fork-spoon-cloth-napkins-fork-plate-logo.png" alt=""><h4>ALL</h4></div>
                <div class="types"><img src="https://w7.pngwing.com/pngs/658/218/png-transparent-sushi-japanese-cuisine-take-out-restaurant-makizushi-sushi-food-sashimi-rice.png" alt=""><h4>Shushi</h4></div>
                <div class="types"><img src="https://i.pinimg.com/originals/2e/4d/91/2e4d915a5b4979ff38a2f1646f92980a.jpg" alt=""><h4>Pizza</h4></div>
                <div class="types"><img src="https://cdn.imgbin.com/1/1/17/imgbin-black-and-white-drawing-coloring-book-carrot-carrot-zSqiWUiS0r0y1X3V0sJgUBxuw.jpg" alt=""><h4>Vegan</h4></div>
                <div class="types"><img src="https://e7.pngegg.com/pngimages/470/998/png-clipart-chicken-as-food-food-group-meat-coloring-book-chicken-white-mammal.png" alt=""><h4>Non-Veg</h4></div>
            </div>
            <div id="dishimg">
                <div class="row2"><img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/bacon-fried-cabbage1-1659463321.jpg?crop=0.668xw:1.00xh;0.167xw,0&resize=640:*" alt=""></div>
                <div class="row2"><img src="https://media.cnn.com/api/v1/images/stellar/prod/160929101749-essential-spanish-dish-paella-phaidon.jpg?q=w_1900,h_1069,x_0,y_0,c_fill/w_1280" alt=""></div>
                <div class="row2"><img src="https://www.tasteofhome.com/wp-content/uploads/2021/01/tasty-butter-chicken-curry-dish-from-indian-cuisine-1277362334.jpg" alt=""></div>
                <div class="row2"><img src="https://images.unsplash.com/photo-1602253057119-44d745d9b860?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZGlzaHxlbnwwfHwwfHw%3D&w=1000&q=80" alt=""></div>
            </div>
            <div id="downav">
                <i class="ri-home-7-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-price-tag-3-line"></i>
                <i class="ri-checkbox-circle-fill"></i>
            </div>
        </div>
       <div class="table">
        <div class="h1container">
            <div class="h1img">
                <h1 id="elem1" class="elem" data-image="../src/imges/table02.avif"  data-width="400px" data-height="300px" >
               Indian Type Table
                </h1>

            </div>
             <div class="h1img">
                 <h1 id="elem2" class="elem" data-image="../src/imges/table.avif"  data-width="250px" data-height="350px" >
                    Bar Table
                 </h1>
             </div>
             <div class="h1img">
                <h1 id="elem3" class="elem" data-image="../src/imges/table03.avif"  data-width="400px" data-height="300px" >
                    Dining Table
                </h1>
             </div>
             <div class="h1img">
                 <h1 id="elem4" class="elem" data-image="../src/imges/table04.avif"  data-width="250px" data-height="350px" >
                    Party Table
                 </h1>
             </div> 
             <div class="h1img">
                 <h1 id="elem5" class="elem" data-image="../src/imges/table05avif.avif"  data-width="300px" data-height="400px" >
                    Industrial Table
                 </h1>
             </div> 
            </div>
            <div id="textcontainer">
                <div id="imgcontainer">
                    <h1>Images apear here</h1>
                    <div id="image"></div>
                </div>
                <div id="lorem">
                    <div class="para">
                        <div class="leftreting">
                            <h3>Look at tihs amazing table</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas possimus omnis dolorem.</p>
                        </div>
                        <div class="rightreting">
                            <h5>Ratings : 2.4</h5>
                            <button id=" close" > <h4>Book Now</h4> <div id="dot"></div> </button>
                        </div>
                    </div>
                </div>
                    
        </div>
       </div>


    </div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"></script>
    <script src="../javascripts/table.js"></script>
</body>
</html>