* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}


html,
body {
    width: 100%;
    height: 100%;
}

#roomui ::-webkit-scrollbar{
    scroll-behavior: none;
    display: none;
}

a,
i {
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

button {
    border: none;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 10px;
    cursor: pointer;
    overflow: hidden;
}

button h6{
    z-index: 99;
    font-size: 1vw;
    font-weight: 200;
}
button i{
    z-index: 99;
}


#roomnav {
    padding: 0px 40px;
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#roomnav button .dot{
    background-color: #1291fc;
}

#roomnav #left img {
    width: 200px;
    height: 200px;
}

#roomnav #mid {
    display: flex;
    align-items: center;
    justify-items: center;
    color: #e6e6e69c;
    border-radius: 20px;
    width: max-content;
    border: 1px solid;
    padding: 0px 10px;
}

#roomnav #mid input {
    border-radius: 20px;
    border: none;
    width: 350px;
    padding: 8px;
    outline: none;
    font-family: Gilroy;
}

#roomnav #right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#right a{
    font-family: Gilroy;
}

#secondarynav {
    border-bottom: 0.2px solid rgba(54, 54, 54, 0.132);
    width: 100%;
    height: 50px;
    /* border: 1px solid; */
    padding: 0px 40px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-content: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: 2px;
}



#secondarynav button{
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    font-family: Gilroy;
    border: none;
    background-color: #fff;
    border-radius: 30px;
}

 button:hover{
    box-shadow: 0px 0px 10px 0px #000;
}


 .dot{
    width: 11px;
    height: 10px;
    border-radius: 50%;
    background-color:green;
}

.booked{
    cursor: not-allowed;
    letter-spacing: 1px;
    color: red;
}

.avail{
    letter-spacing: 3px;
    color: rgb(60, 192, 60);
    cursor: pointer;
}

.more{
    justify-self: center;
    /* text-align: center; */
    display: flex;
    gap: 3px;

}

.more .dot{
    height: 4px;
    aspect-ratio: 1;
    background-color: rgb(91, 91, 91);
    border-radius: 50%;
}

#roomtable {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

#roomtable .roomrows {
    width: 100%;
    height: max-content;
    border-bottom: 0.2px solid rgba(54, 54, 54, 0.132);
    padding: 10px 40px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-content: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 900;
    color: rgb(91, 91, 91);
}

#roomtable .roomrows h4{
    font-weight: 600;
}

#roomtable .roomrows img {
    width: 180px;
    height: 100px;
    border-radius: 10px;
}


#roomtable .roomrows .roomleft span {
    color: #1291fc;
}


#roomtable .roomrows .roomleft .roomdets {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.gridleft {
    /* border: 1px solid; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;


}



.gridmid {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
}

.gridright {
    /* display: flex; */
    align-items: center;
    justify-content: flex-start;
    /* gap: 50px; */
    padding-left: 50px;
    /* border: 1px; */
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    align-content: center;
    justify-content: center;
}

#roomui h2{
    font-size: 18px;
    margin-left: 40px;
    letter-spacing: 1px;
}


.dark {
    --bg-body: var(--dark-body);
    --bg-main: var(--dark-main);
    --bg-second: var(--dark-second);
    --color-hover: var(--dark-hover);
    --color-txt: var(--dark-text);
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

.calendar {
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    position: absolute;
    right: 15%;
    overflow: hidden;
    display: none;
    z-index: 999;
    background-color: #fff;
    /* transform: scale(1.25); */
}

.calendar:hover{
    box-shadow:  0px 0px 10px 0px #000;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--color-txt);
    padding: 10px;
}


.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    /* border-radius: 50%; */
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color:#AF4B0F ;
    color: var(--white);
    border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color:#cecece;
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: #cecece;
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toggle {
    display: flex;
}

.toggle span {
    margin-right: 10px;
    color: var(--color-txt);
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: var(--bg-second);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--bg-main);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
}

.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    /* background-color: #151426; */
    transition: all 0.2s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: var(--color-hover);
}

@media screen and (max-width: 1000px){
    #roomnav {
        padding: 0px 30px;
    }
    #roomnav #right>a {
        display: none;
        
    }
    #roomnav #mid {
        width: 240px;
    }
    #secondarynav #mid{
        display: none;
    }
    .gridmid {
       display: none;
    }
    
#roomtable .roomrows .roomleft .roomdets {
    margin: 20px;

}

}
@media screen and (max-width: 500px){
    #roomnav {
        padding: 0px 10px;
    }
    #roomnav #mid {
        display: none;
    }
    #roomtable .roomrows img {
        width: 120px;
        height: 80px;
        border-radius: 10px;
    }
    #secondarynav button{
        display: none;
    }
}